@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* CSS 초기화 작업 */
ol, ul {
    list-style: none;
}

a {
    outline: 0;
    text-decoration: none;
    color: #555;
}

img {
    border: 0;
}

body {
    font: 12px/1.6 arial;
    color: #555;
}

/* 고정 화면 스타일 설정 */


/* 로고 */
.logo {
    position: fixed;
    top: 50px; left: 50px;
    z-index: 100;
}

.logo img {
    width: 200px; height: auto;
}

/*  SNS 버튼 */
#sns {
    position: fixed;
    top: 40px; right: 50px;
    z-index: 100;

    /* display: flex; */
}

#sns li {
    float: left;
    margin-left: 20px;

    transition: all 0.3s;
}

#sns li i {
    font-size: 25px;
    color: #111;
    opacity: 0.5;
}

#sns li:hover {
    transform: scale(1.5);
}

/* 주 메뉴 (카테고리) */
.menu {
    position: fixed;
    z-index: 100;
    top: 50%; left: 0;
    transform: translateY(-50%);
}

.menu li a {
    display: block;
    width: 200px; height: 60px;

    text-align: right;
    font-family: 'Righteous', cursive;
    font-size: 14px;
    color: #111;

    opacity: 0.5;
    border-top: 1px solid #111;
    padding-top: 5px;

    transition: all 0.5s;
}

.menu li:hover a {
    font-size: 24px;
    opacity: 1;
}

.menu li.on a {
    font-size: 24px;
    opacity: 1;
}

.menu li:nth-child(1):hover a {
    color: #D4164C;
    border-color: #D4164C;
}

.menu li:nth-child(2):hover a {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.menu li:nth-child(3):hover a {
    color: #FFEC6A;
    border-color: #FFEC6A;
}

.menu li:nth-child(4):hover a {
    color: #005A89;
    border-color: #005A89;
}
/* 선택된 항목 선색 및 색상 스타일 */

.menu li:nth-child(1).on a {
    color: #D4164C;
    border-color: #D4164C;
}

.menu li:nth-child(2).on a {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.menu li:nth-child(3).on a {
    color: #FFEC6A;
    border-color: #FFEC6A;
}

.menu li:nth-child(4).on a {
    color: #005A89;
    border-color: #005A89;
}


/* 전체 레이아웃 */
section {
    position: relative;
    width: 100%; height: 700px;
    overflow: hidden;

    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

section:nth-child(1) {
    background-image: url(../img/bg1.jpg);
}

section:nth-child(2) {
    background-image: url(../img/bg2.jpg);
}

section:nth-child(3) {
    background-image: url(../img/bg3.jpg);
}

section:nth-child(4) {
    background-image: url(../img/bg4.jpg);
}
